 /* Forms  */

.form input {
    font-size: 1.2rem;
    width: calc(40% - 10px);
    background-color: transparent;
    outline: none;
    box-shadow: 0px -6px 15px 2px rgb(34, 34, 34);
    color: whitesmoke;
    border: 0px;
    border-radius: 30px;
    letter-spacing: 1px;
    font-family: 'Comic Sans MS', fantasy;
    padding-left: 10px;
    margin-top: 7px;
}




.form input, input[type=text]:-webkit-autofill,
.form input, input[type=text]:-webkit-autofill:hover, 
.form input, input[type=text]:-webkit-autofill:focus, 
.form input, input[type=text]:-webkit-autofill:active  {
    transition: background-color 5000s ease-in-out 0s; 
    -webkit-text-fill-color: whitesmoke;
}

input[type=text].login_password {
    
    -webkit-text-fill-color: rgb(0, 0, 0);
}


.buttons {
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.buttons button {
    width: 100px;
    height: 50px;
    border: 0px;
    font-size: 1.2rem;
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: 'Comic Sans MS', fantasy;
    background-color: transparent;
    cursor: pointer;
    border: 3px solid rgb(136, 6, 6);
}

.buttons button:hover {
    border: 3px solid rgb(59, 0, 0);
}
.buttons button:active {
    border: 3px inset rgb(136, 6, 6);
}

/* Scroll */

.container_scroll {
    height: 90%;
    overflow-y: scroll;
    scrollbar-color: rgb(252, 0, 0) transparent;
    scrollbar-width: thin;
    padding: 0 5px;
}

@media screen and (max-width: 767px){
    /* Forms */
    .form input {
        border: 1px solid black;
    }
}

@media screen and (min-width: 768px){
    /* Forms */
    .form input {
        border: 1px solid black;
    }


    .container_scroll::-webkit-scrollbar {
        scroll-behavior: smooth;
        width: 32px;
    }
    
    
    .container_scroll::-webkit-scrollbar-thumb {
        background-image: url('../../assets/image/deadpool.png');
        background-repeat: no-repeat;
        width: 32px;
        background-size: 32px;
    }

}